<p>error-page works!</p>

<ul>
    <li>
        <a href="" [routerLink]="['/auth/login']">ir a login </a>
    </li>
    <li>
        <a href="" [routerLink]="['/auth/registro']">ir a registro </a>
    </li>
    <li>
        <a href="" [routerLink]="['/heroes/listado']">ir a listado </a>
    </li>
    <li>
        <a href="" [routerLink]="['/heroes/agregar']">ir a agregar </a>
    </li>
    <li>
        <a href="" [routerLink]="['/heroes/editar:1']">ir a editar </a>
    </li>
    <li>
        <a href="" [routerLink]="['/heroes/buscar']">ir a buscar </a>
    </li>
    <li>
        <a href="" [routerLink]="['/heroes/:1']">ir a heroe </a>
    </li>
</ul>

